/* CSS declarations go here */

body, html {
	width: 100%;
	height: 100%;
}

.avatar-img.hidden-phone {
	width: 6em;
	height: 6em;
}

.avatar-img.visible-phone {
	width: 2em;
	height: 2em;
}

.well {
  font-family: Cutive;
}

.well h1 {
  font-family: Cutive;
}

.well img {
  max-width: 6em;
}

