@import 'mobile.less';

@background-image: url(/static/img/background-05.jpg);

@sans-serif: 'Oxygen', 'Open Sans', 'Helvetica', 'Arial', sans-serif;

@title-font: @sans-serif;
@title-font-weight: 300;
@title-font-color: #3f5765;

@body-font: @sans-serif;
@body-font-weight: 400;
@body-font-color: #3f5765;

@default-bg-col: @bright-white;
@translucent-bg-col: fadeout(@dark-bg-col, 40%);
@dark-bg-col: #444;
@medium-bg-col: #666;
@default-light-col: #f0f0f0;

@bright-white: #f5f5f5;
@bright-gray: #e5e5e5;
@light-text-col: #f0f0f0;
@light-title-font-col: #ccc;
@dark-text-color: #333;
@border-col: #e0e0e0;
@button-col: #ff9800;
@button-text-col: #f0f0ff;
@primary-button-col: #44f044;
@primary-button-text-col: #f0f0ff;

@largest-device-width: 768px;
@largest-device-header-image-margin: 6px;
@largest-device-padding: round(@largest-device-width / 32);
@largest-device-author-size: round(@largest-device-width / 12);
@largest-device-control-height: 30px;

@iphone-width: 320px;
@iphone-header-image-margin: 3px;
@iphone-padding: round(@iphone-width / 32);
@iphone-author-size: round(@iphone-width / 12);
@iphone-control-height: 24px;

@iphone: ~'(max-width:768px)';
@not-iphone: ~'(min-width:769px)';

.media-width-height-square {
	@media @not-iphone {
		max-width: @largest-device-width;
		max-height: @largest-device-width;
		width: @largest-device-width;
		height: @largest-device-width;
	}
	@media @iphone {
		max-width: @iphone-width;
		max-height: @iphone-width;
		width: @iphone-width;
		height: @iphone-width;
	}
}

.media-header-margin {
	@media @not-iphone {
		margin: @largest-device-header-image-margin;
	}
	@media @iphone {
		margin: @iphone-header-image-margin;
	}
}

.media-message-header-margin {
	@media @not-iphone {
		margin: 20px 0 0 0;
	}
	@media @iphone {
		margin: 10px 0 0 0;
	}
}

.media-max-width {
	@media @not-iphone {
		max-width: @largest-device-width;
	}
	@media @iphone {
		max-width: @iphone-width;
	}
}

.media-padding {
	@media @not-iphone {
		padding: @largest-device-padding;
	}
	@media @iphone {
		padding: @iphone-padding;
	}
}

.media-author-size {
	@media @not-iphone {
		width: @largest-device-author-size;
		height: @largest-device-author-size;
	}
	@media @iphone {
		width: @iphone-author-size;
		height: @iphone-author-size;
	}
}

.media-small-author-size {
	@media @not-iphone {
		width: @largest-device-control-height;
		height: @largest-device-control-height;
	}
	@media @iphone {
		width: @iphone-control-height;
		height: @iphone-control-height;
	}
}

.media-body-font {
	@media @not-iphone {
		.body-font(16px);
	}
	@media @iphone {
		.body-font(14px);
	}
}

.media-control-min-height {
	@media @not-iphone {
		min-height: @largest-device-control-height;
	}
	@media @iphone {
		min-height: @iphone-control-height;
	}
}

.media-button-font {
	@media @not-iphone {
		.title-font(20px);
	}
	@media @iphone {
		.title-font(16px);
	}
}

@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 300;
	src: local('Oxygen Light'), local('Oxygen-Light'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/AwBqWF2kjhlybWamaKMPcaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
	font-family: 'Cutive';
	font-style: normal;
	font-weight: 400;
	src: local('Cutive'), local('Cutive-Regular'), url(http://themes.googleusercontent.com/static/fonts/cutive/v4/6dUc_M1PDZZCBfdFvQn4lQ.ttf) format('truetype');
}

.box () {
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.unspaced-title-font (@size) {
	font-family: @title-font;
	font-weight: @title-font-weight;
	font-size: @size;
	text-transform: uppercase;
}

.title-font (@size) {
	.unspaced-title-font(@size);
	letter-spacing: round(@size / 7);
}

.body-font (@size) {
	font-family: @body-font;
	font-weight: @body-font-weight;
	font-size: @size;
	color: @body-font-color;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1.6;
	.media-body-font;
	.box;
}

strong {
	font-weight: 700;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

/*
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
*/

html {
	overflow-y: auto;
}

img, video {
	max-width: 100%;
	height: auto;
}

.relative {
	position: relative;
}

body, html {
	width: 100%;
	height: 100%;
	background-color: @default-bg-col;
}

.clearfix {
	clear:both;
}

.image () {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.hidden-phone {
	@media @iphone {
		display: none;
	}
}

.visible-phone {
	@media @not-iphone {
		display: visible;
	}
}

h1 {
	@media @not-iphone {
		.title-font(38px);
	}
	@media @iphone {
		.title-font(24px);
	}
}
h2 {
	@media @not-iphone {
		.title-font(30px);
	}
	@media @iphone {
		.title-font(20px);
	}
}
h3 {
	@media @not-iphone {
		.title-font(26px);
	}
	@media @iphone {
		.title-font(18px);
	}
}	

body > header {
	.box;
	.media-padding;
	position: fixed;
	background-color: darkgray;
	background-size: cover; 
	position: relative;
	color: white;
	max-width: 768px;
	@media @iphone {
		max-width: 320px;
	}
}

.login-buttons {
	display: inline-block;
}

.after-clear () {
	content: '.';
	display: block;
	visibility: hidden;
	clear: both;
}

.login-tools {
	.box;
}

@button-hover-col: #3f5765;

.standard-button-colors () {
	color: @button-text-col;
	background-color: @button-col;
}

.primary-button-colors () {
	color: @primary-button-text-col;
	background-color: @primary-button-col;
}

button {
	.box;
	display: block;
	height: 1.5em;
	cursor: pointer;
	.media-control-min-height;
	.media-button-font;
	.unspaced-title-font(16px);
	border: 0;
	.standard-button-colors;
	&:hover {
		background-color: @button-hover-col;
	}
	vertical-align: bottom;
	&#btn-file-picker {
		width: 144px;
		@media @iphone {
			margin: 4px 0;
		}
		.primary-button-colors;		
	}
	text-align: bottom;
}

input {
	@media @not-iphone {
		.body-font(16px);
	}
	@media @iphone {
		.body-font(14px);
	}
	border: 1px solid @border-col;
	border-radius: 0;
	display: inline-block;
	.media-control-min-height;
	height: auto;
	.box;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
}

form {
	button {
		.box;
		display: inline-block;
	}
}

.time {
	font-size: x-small;
}

.media-body {
	position: relative;
	padding-left: 10px;
}

.feature div.media-body img {
	max-width: 80%;
}


.pull-left {
	float: left;
}

body > section {
	background: @bright-white;
	.media-max-width;
	overflow: hidden;

	&#send-message {
		form {
			margin-left: 5px;
			margin-top: 5px;
			margin-bottom: 5px;

			button {
				float: right;
				margin: 0 4px;
				@media @iphone {
					margin-bottom: 4px;
				}
			}
			input {
				display: inline-block;
				min-height: @iphone-control-height;
				width: 474px;
				@media @iphone {
					margin-bottom: 4px;
					width: 310px;
				}
			}
		}
	}

	&#messages {
		nav {
			&>button {
				display: inline-block;
				text-align: center;
			}
			&.paging {
				text-align: center;
				&>button {
					margin: 20px auto;
				}
			}
		}
	}

	&#footer {
		text-align: center;
	}
}

.has-author () {
	.author {
		float: left;
		display: inline-block;
		.media-header-margin;
		.image;
		z-index: 10;
	}
}

.has-large-author () {
	.has-author;
	.author {
		.media-author-size;
	}
}

.has-small-author () {
	.has-author;
	.author {
		.media-small-author-size;
	}
}

.message {
	clear: both;
	header {
		.media-message-header-margin;
		button {
			padding: 0;
			display: inline-block;
		}
		nav {
			float: right;
			@media @not-iphone {
				padding-top: @largest-device-header-image-margin;
				padding-right: @largest-device-header-image-margin;
			}
			@media @iphone {
				padding-top: @iphone-header-image-margin;
				padding-right: @iphone-header-image-margin;
			}
			z-index: 11;
			button {
				.media-author-size;
			}
		}
	}
	p {
		margin: 0 10px 0 10px;
	}
	position: relative;
	.box;
	.has-large-author;
	.name {
		font-family: @sans-serif;
	}
	img {
		@media @not-iphone {
			max-width: @largest-device-width;
			width: @largest-device-width;
		}
		@media @iphone {
			max-width: @iphone-width;
			width: @iphone-width;
		}
		height: auto;
	}

	.comment {
		.box;
		padding-left: 20px;
		.has-small-author;
		clear: both;
		nav {
			float: right;
			text-align: right;
			button {
				.media-header-margin;
			}
		}
		input {
			.media-header-margin;
			@media @not-iphone {
				width: 600px;
			}
			@media @iphone {
				width: 190px;
			}
		}
		div& {
			.name {
				font-size: 10px;
			}
		}
		.text {
			font-family: @sans-serif;
		}
	}
}

a.assign {
	display: block;
	padding-top: 10px;
}

.top-login-block {
	float: right;
	font-size: smaller;
	text-align: center;
}

.current-user img {
	max-width: 30px;
	max-height: 30px;
}

.text-stroke(@stroke-width; @color) {
	//-webkit-text-stroke: @stroke-width @color;
	text-shadow: @stroke-width @stroke-width 0 @color,
	-@stroke-width -@stroke-width 0 @color,
	@stroke-width -@stroke-width 0 @color,
	-@stroke-width @stroke-width 0 @color,
	0 @stroke-width 0 @color,
	@stroke-width 0 0 @color,
	0 -@stroke-width 0 @color,
	-@stroke-width 0 0 @color;
}

.meme-container {
	overflow: hidden;
	.box;
	.image;
	.media-width-height-square;
	padding: 0;
	@media @not-iphone {
		border: round(@largest-device-width / 100) solid black;
	}
	@media @iphone {
		border: round(@largest-device-width / 100) solid black;
	}
	text-align: center;
	white-space: nowrap;
	color: white;
	.text-stroke(2px; black);
	font-family: impact, 'Trebuchet MS', sans-serif;
	font-weight: bolder;
	.inner {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.top {
		text-align: center;
		text-transform: uppercase;
		overflow: visible;
		position: absolute;
		width: 100%;
		top: 0;
	}

	.bottom {
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.meme {
	.title, .subtitle {
		width: 100%;
		font-family: Impact, Charcoal, sans-serif;
		font-size: 50px;
		font-weight: bolder;
	}
}

.configure-button {
	display: none;
}
